[user]
	name = tktk2o
	email = tktk2o.dev@gmail.com
[init]
	defaultBranch = main
[ghq]
	root = ~/src
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[core]
	pager = delta
	excludesfile = ~/.gitignore_global
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	syntax-theme = Dracula
	dark = true
[diff]
	algorithm = histogram
	colorMoved = default
[merge]
	conflictstyle = zdiff3
[branch]
	sort = -committerdate
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
